{% block footer %}
<!-- ⚠️ TODO: Todos los textos visibles deben tener data-key para i18n -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> <span data-key="footer.copyright">© AGG. inc. copyrighted</span>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block" data-key="footer.design_develop">
                    Design & Develop by AGG. Inc.
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}
