<ul class="navbar-nav" id="navbar-nav">
    <!-- Menú Biblioteca Digital -->
    <li class="nav-item">
        <a class="nav-link menu-link" href="#sidebarBiblioteca" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBiblioteca">
            <i class="ri-folder-open-line"></i> <span>Biblioteca Digital</span>
        </a>
        <div class="collapse menu-dropdown" id="sidebarBiblioteca">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{% url 'biblioteca:crear_propietario' %}" class="nav-link">Ingresar Propietario</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'biblioteca:crear_propiedad' %}" class="nav-link">Ingresar Propiedad</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'biblioteca:crear_tipo_documento' %}" class="nav-link">Ingresar Tipo Documento</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'biblioteca:listar_propietarios' %}" class="nav-link">Listado de Propietarios</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'biblioteca:listar_propiedades' %}" class="nav-link">Listado de Propiedades</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'biblioteca:listar_tipos_documentos' %}" class="nav-link">Listado de Tipos de Documentos</a>
                </li>
            </ul>
        </div>
    </li>
    <!-- Menú Control de Acceso -->
    <li class="nav-item">
        <a class="nav-link menu-link" href="#sidebarControlAcceso" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarControlAcceso">
            <i class="ri-lock-line"></i> <span>Control de Acceso</span>
        </a>
        <div class="collapse menu-dropdown" id="sidebarControlAcceso">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{% url 'access_control:usuarios_lista' %}" class="nav-link">Gestión de Usuarios</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_control:empresas_lista' %}" class="nav-link">Gestión de Empresas</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_control:vistas_lista' %}" class="nav-link">Gestión de Vistas</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_control:permisos_lista' %}" class="nav-link">Gestión de Permisos</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_control:permisos_filtrados' %}" class="nav-link">Filtrar Permisos</a>
                </li>
            </ul>
        </div>
    </li>
    <!-- Menú Cuentas -->
    <li class="nav-item">
        <a class="nav-link menu-link" href="#sidebarCuentas" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCuentas">
            <i class="ri-user-line"></i> <span>Cuentas</span>
        </a>
        <div class="collapse menu-dropdown" id="sidebarCuentas">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'registro_usuario' %}" class="nav-link">Registrar Usuario</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cambiar_password' %}" class="nav-link">Cambiar Contraseña</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
