{% extends "base.html" %}
{% block contenido %}

<div class="container">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Conversación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for conversacion in conversaciones %}
                <tr>
                    <td>
                        <a href="{% url 'detalle_conversacion' conversacion.id %}">{{ conversacion }}</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmacionModal{{ conversacion.id }}">Eliminar</button>
                    </td>
                </tr>

                <!-- Modal de confirmación -->
                <div class="modal fade" id="confirmacionModal{{ conversacion.id }}" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmacionModalLabel">Confirmar eliminación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de que deseas eliminar esta conversación?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <form action="{% url 'eliminar_conversacion' conversacion.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <tr>
                    <td colspan="2">
                        <p>No tienes conversaciones.</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_conversacion' %}" class="btn btn-primary">Crear conversación</a>
    </div>
</div>

{% endblock %}
