{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="card-body">

      <h1>{{ conversacion.titulo }}</h1>
      <ul>
        {% for mensaje in mensajes %}
        <li>
        {% if mensaje.remitente.avatar %}
         <img src="{{ mensaje.remitente.avatar.imagen.url }}" alt="{{ mensaje.remitente.username }} Avatar" width="25" height="25">
        {% endif %}
          {{ mensaje.remitente }} Dice : {{ mensaje.contenido }}  </li>
        {% endfor %}
      </ul>
      
      <h2>Enviar Mensaje</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar">
      </form>

</div>
</div>

{% endblock %}