{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="?" method="get">   
        {{form}}
        <button type="submit" class="btn btn-info">Buscar</button>
        <a type="button" class="btn btn-success" href="{% url 'creaPropiedades' %}">Crear</a> 
    </form>   
    
    <div class="card-body">
        {% if props %}
        <h4>Listado de Propiedades </h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rol</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">rut</th>                
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for prop in props %}
                <tr>
                    <td>{{ prop.rol }}</td>
                    <td>{{ prop.direccion }}</td>
                    <td>{{ prop.rut }}</td>                
                    <td>
                        
                        <a type="button" class="btn btn-warning" href="../update-Propiedades/{{ prop.id }}">Modificar</a>                        
                        <a type="button" class="btn btn-danger" href="#" onclick="abrirModalConfirmacion('{{ prop.id }}')">Borrar</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else  %}
        <h1>Sin Propiedades que listar</h1>
        {% endif  %}
    </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta propiedad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="deleteLink" href="#" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>

<script>    
    function abrirModalConfirmacion(propId) {
        console.log("propId:", propId); // Verificar el valor de propId
        if (propId) {
            var deleteUrl = "/delete-Propiedades/" + propId + "/";
            $("#deleteLink").attr("href", deleteUrl);
            $('#confirmDeleteModal').modal('show');
        } else {
            console.log("Error: ID de propiedad no válido.");
        }
    }
</script>

{% endblock %}
