{% extends "base.html" %}

{% block content %}
    
<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h3 class="mb-3">Registro de Usuario</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">


                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Registrate!</button>
                                </form>
                            
                            
                                
            
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                
                                <i class="bi bi-filetype-py"></i>
                                <h2 class="fs-1">Entrega final!!!</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-end text-secondary mt-3">Comisión 43855 Python</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}