{% extends 'partials/base.html' %}

{% block title %}
Cambiar Contraseña
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Cambiar Contraseña" pagetitle="Usuarios" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="card shadow-lg p-4 mb-5 rounded bg-mode">
                <h2 class="card-title text-center">Cambiar Contraseña</h2>

                {% if messages %}
                <div class="mb-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table align-middle table-striped">
                            <tbody>
                                {% for field in form %}
                                <tr>
                                    <td><label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label></td>
                                    <td>
                                        {{ field }}
                                        {% if field.errors %}
                                        <div class="text-danger small">
                                            {% for error in field.errors %}
                                                {{ error }}<br>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success w-50">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
