{% extends 'base.html' %}
{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Cambiar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
