{% extends "base.html" %}
{% block contenido %}

<div class="container">
    <div class="card-body">
        <div class="container text-center">
            <img class="profile-img" src="https://avatars.githubusercontent.com/u/70185351?v=4" alt="Mi Foto de Perfil">
            <h1>Ariel M. Godoy G.</h1>
            <p class="lead">Ingeniero Informático</p>
            <p>Nacido en Talcahuano, Chile en 1977. Me trasladé muy joven junto a mi familia a una ciudad del sur llamada Angol, donde crecí y me desarrollé como persona. Al terminar la enseñanza media, regresé a Concepción para iniciar mi carrera de Técnico de Nivel Superior en Computación e Informática en la prestigiosa Universidad Técnica Federico Santa María. Allí descubrí mi pasión por el desarrollo de sistemas y la programación.</p>
            
            <p>Con el paso de los años, me especialicé en entornos de servidores y bases de datos Linux, certificándome en Administración y Seguridad Linux. Luego, en búsqueda de seguir aprendiendo, inicié mis estudios de Ingeniería Informática en la Universidad Católica de Temuco, actualizando mis conocimientos y aprendiendo nuevas tecnologías y modalidades de desarrollo.</p>
            
            <p>Hoy en día, estoy en busca de la renovación tecnológica y de actualizar mis conocimientos. Junto a Coder House y la Universidad Católica de Chile, estoy en busca de certificarme como desarrollador Full Stack.</p>

            <div class="social-icons">
                <a href="https://www.facebook.com/ArielGodoyG/" target="_blank" class="btn btn-primary"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/ArielGodoyG" target="_blank" class="btn btn-primary"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/ariel-godoy-g-52502810a/" target="_blank" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/arielgodoy" target="_blank" class="btn btn-primary"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
