{% extends "partials/base.html" %}
{% load static %}
{% block extra_css %}
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Toastify CSS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock extra_css %}


{% block title %}
Ingresar Propietario
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Ingresar Propietario" pagetitle="Propietarios" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content"> 
    <div class="page-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card shadow-lg p-4 mb-5 rounded">
                        <h1 class="my-4 text-center">Ingresar Propietario</h1>
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}

                            <!-- Campo Nombre -->
                            <div class="mb-3">
                                <label for="id_nombre" class="form-label">{{ form.nombre.label }}</label>
                                {{ form.nombre }}
                                {% if form.nombre.errors %}
                                    <div class="text-danger">
                                        {% for error in form.nombre.errors %}
                                            <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Campo RUT -->
                            <div class="mb-3">
                                <label for="id_rut" class="form-label">RUT</label>
                                <input data-inputingreso="camporut" maxlength="12" type="text" id="id_rut" name="rut" class="form-control" value="{{ form.rut.value|default:'' }}">
                                {% if form.rut.errors %}
                                    <div class="text-danger">
                                        {% for error in form.rut.errors %}
                                            <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Campo Teléfono -->
                            <div class="mb-3">
                                <label for="id_telefono" class="form-label">{{ form.telefono.label }}</label>
                                {{ form.telefono }}
                                {% if form.telefono.errors %}
                                    <div class="text-danger">
                                        {% for error in form.telefono.errors %}
                                            <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Campo Rol -->
                            <div class="mb-3">
                                <label for="id_rol" class="form-label">{{ form.rol.label }}</label>
                                {{ form.rol }}
                                {% if form.rol.errors %}
                                    <div class="text-danger">
                                        {% for error in form.rol.errors %}
                                            <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Botón Guardar -->
                            <button type="submit" class="btn btn-primary w-100">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        feather.replace();
    });
</script>

<!-- 
Agregar al input
para Validar rut agregar al input : data-inputingreso="camporut" maxlength="12" placeholder="Ej: 12.345.678-9"
-->
<script type="module" src="{% static 'js/funcionesInputs.js' %}"></script>

{% endblock extra_js %}
