{% extends 'biblioteca/base.html' %}
{% block contenido %}

<h1>ROL NRO : {{ propiedad.rol }}</h1>
<h2>Descr. : {{ propiedad.descripcion }}</h2>
<p>Dirección: {{ propiedad.direccion }}</p>

<h2>Documentos asociados:</h2>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Documento</th>
      <th>Fecha</th>
      <th>Vencimiento</th>      
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for documento in propiedad.documento_set.all %}
    <tr>
      <td>{{ documento.tipo_documento }}</td>
      <td>{{ documento.nombre_documento }}</td>
      <td>{{ documento.fecha_documento }}</td>
      {% if documento.fecha_vencimiento is None %}
      <td>Sin vencimiento</td>  
      {% else %}    
      <td>{{ documento.fecha_vencimiento }}</td>  
      {% endif %}    
      
      <!-- <td>{{ documento.get_tipo_archivo_display }}</td> -->
      <td>
        <a href="{{ documento.archivo.url }}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
        <button class="btn btn-dark" onclick="copiarenlace('{{ documento.archivo.url }}')" > <i class="bi bi-clipboard"></i></button>
        <!-- Agregar el enlace que muestra el modal de confirmación -->
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal-{{ documento.pk }}"><i class="bi bi-trash"></i></a>
      </td>


  


    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'crear_documento' propiedad.pk %}" class="btn btn-primary">Agregar nuevo documento</a>


<!-- Modal de confirmación de eliminación -->
{% for documento in propiedad.documento_set.all %}
<div class="modal fade" id="confirmModal-{{ documento.pk }}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmación de Eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar este documento?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'eliminar_documento' documento.pk %}" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>



<script>
  function copiarenlace(url) {
    try {
      const full_url = `${window.location.origin}${url}`;
      const tempInput = document.createElement("input");
      tempInput.value = full_url;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      alert("Enlace copiado: " + full_url);
    } catch (error) {
      console.error("Error al copiar el enlace: ", error);
      alert("No se pudo copiar el enlace. Por favor, copia manualmente.");
    }
  }
</script>

  

{% endfor %}
<!-- Modal de confirmación de eliminación -->


{% endblock %}
