{% extends "base.html" %}
{% block contenido %}
<style>
    /* Estilos para simular WhatsApp */
    .card-body {
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px;
    }

    .mensaje {
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        max-width: 70%;
        clear: both; /* Asegura que cada mensaje comience en una nueva línea */
        overflow-wrap: break-word; /* Evita que las palabras largas desborden el contenedor */
    }

    .mensaje-propio {
        background-color: #DCF8C6;
        float: right;
    }

    .mensaje-otro {
        background-color: #FFF;
        float: left;
    }

    .avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
    }

    /* Estilos para el formulario de envío */
    .formulario-envio {
        margin-top: 20px;
    }
</style>

<div class="container">
    <div class="card-body">
        <h1>{{ conversacion.titulo }}</h1>
        <div class="row">
            <div class="col-md-4"></div> <!-- Columna de espacio en blanco -->
            <div class="col-md-4"> <!-- Columna principal -->
                {% for mensaje in mensajes %}
                <div class="mensaje {% if mensaje.remitente == request.user %}mensaje-propio{% else %}mensaje-otro{% endif %}">
                    {% if mensaje.remitente.avatar %}
                        <img src="{{ mensaje.remitente.avatar.imagen.url }}" alt="{{ mensaje.remitente.username }} Avatar" class="avatar">
                    {% endif %}
                    {{ mensaje.remitente }} Dice: {{ mensaje.contenido }}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4"></div> <!-- Columna de espacio en blanco -->
        </div>
    </div>
</div>




<div class="container">
  <div class="card-body">
      <h1>{{ conversacion.titulo }}</h1>
      <div class="row">
          <div class="col-md-3"></div> <!-- Columna de espacio en blanco -->
          <div class="col-md-6"> <!-- Columna principal -->
            <!-- Formulario de envío de mensajes -->
            <div class="container formulario-envio">  
              <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Enviar">
              </form>
            </div>
            {% endblock %}
          </div>
          <div class="col-md-3"></div> <!-- Columna de espacio en blanco -->
      </div>
  </div>
</div>
