{% extends "partials/base.html" %}

{% block title %}
Detalle de Propietario
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Detalle de Propietario" pagetitle="Propietarios" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="card shadow-lg p-4 mb-5 rounded">
                <h1 class="mb-4">{{ propietario.nombre }}</h1>
                <p><strong>RUT:</strong> {{ propietario.rut }}</p>
                <p><strong>Teléfono:</strong> {{ propietario.telefono }}</p>
                <p><strong>Rol:</strong> {{ propietario.get_rol_display }}</p>
            </div>

            <div class="card shadow-lg p-4 mt-4 rounded">
                <h2 class="mb-4">Propiedades asociadas:</h2>
                <div class="table-responsive">
                    <table id="tabla-propiedades" class="table table-bordered dt-responsive nowrap table-striped align-middle">
                        <thead>
                            <tr>
                                <th>Rol</th>
                                <th>Dirección</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for propiedad in propietario.propiedad_set.all %}
                            <tr>
                                <td>{{ propiedad.rol }}</td>
                                <td>{{ propiedad.direccion }}</td>
                                <td>
                                    <a href="{% url 'biblioteca:detalle_propiedad' propiedad.pk %}" class="btn btn-primary btn-sm">
                                        <i class="bi bi-eye"></i> Ver
                                    </a>
                                    <a href="{% url 'biblioteca:eliminar_propiedad' propiedad.pk %}" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </a>
                                    <a href="{% url 'biblioteca:modificar_propiedad' propiedad.pk %}" class="btn btn-warning btn-sm">
                                        <i class="bi bi-pencil"></i> Modificar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#tabla-propiedades').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            responsive: true,
            autoWidth: false,
        });
    });
</script>
{% endblock content %}
