{% extends "partials/base.html" %}
{% block extra_css %}
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Toastify CSS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock extra_css %}


{% block title %}
Eliminar Tipo de Documento
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Eliminar Tipo de Documento" pagetitle="Tipos de Documentos" %}
{% endblock pagetitle %}


{% block content %}

<h1>Confirmar Eliminación</h1>
<p>¿Estás seguro de que deseas eliminar este documento?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'biblioteca:detalle_propiedad' pk=documento.propiedad.pk %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}

{% endblock content %}
{% endblock extra_js %}
