{% extends "partials/base.html" %}

{% block title %}
<span data-key="confirm_delete">Eliminar Propiedad</span>
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Eliminar Propiedad" pagetitle="Propiedades" %}
{% endblock pagetitle %}

{% block content %}

<h1 data-key="confirm_delete">Confirmar Eliminación</h1>
<p data-key="biblioteca.propiedad.delete_confirmation">¿Estás seguro de que deseas eliminar la propiedad <strong>{{ propiedad.rol }}</strong>?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" data-key="btn_confirm_delete">Eliminar</button>
    <a href="{% url 'biblioteca:detalle_propiedad' pk=propiedad.pk %}" class="btn btn-secondary" data-key="cancel">Cancelar</a>
</form>

{% endblock content %}
