{% extends 'base.html' %}
{% block contenido %}

<h1>Eliminar Propiedad</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <!-- Agregar el enlace que muestra el modal de confirmación -->
  <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Eliminar</a>
</form>

<!-- Modal -->
<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmación de Eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar esta propiedad?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <!-- Agregar el formulario de eliminación -->
        <form id="eliminarForm" action="{% url 'eliminar_propiedad' propiedad.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" id="eliminarBtn">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Obtener el botón "Eliminar" del cuadro de diálogo modal
    const eliminarBtn = document.getElementById("eliminarBtn");

    // Agregar un controlador de eventos para el clic del botón "Eliminar"
    eliminarBtn.addEventListener("click", function () {
      // Enviar el formulario al hacer clic en el botón "Eliminar"
      document.getElementById("eliminarForm").submit();
    });
  });
</script>

{% endblock %}
