{% extends "partials/base.html" %}

{% block title %}
Eliminar Propiedad
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Eliminar Propiedad" pagetitle="Propiedades" %}
{% endblock pagetitle %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Eliminar Propiedad</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- Botón para abrir el modal -->
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">Eliminar</a>
                </form>
            </div>
        </div>

        <!-- Modal de confirmación de eliminación -->
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmación de Eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas eliminar esta propiedad?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- Formulario de eliminación -->
                        <form id="eliminarForm" action="{% url 'biblioteca:eliminar_propiedad' propiedad.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" id="eliminarBtn">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const eliminarBtn = document.getElementById("eliminarBtn");
        eliminarBtn.addEventListener("click", function () {
            document.getElementById("eliminarForm").submit();
        });
    });
</script>
{% endblock content %}
