{% extends "partials/base.html" %}

{% block title %}
Confirmar Eliminación
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Confirmar Eliminación" pagetitle="Documentos" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content"> <!-- Agregado contenedor principal -->
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-4">Confirmar Eliminación</h1>
                    <p>¿Estás seguro de que deseas eliminar este documento?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'biblioteca:detalle_propiedad' pk=documento.propiedad.pk %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
