{% extends "partials/base.html" %}

{% block title %}
Listado de Propiedades
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Listado de Propiedades" pagetitle="Propiedades" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Listado de Propiedades</h5>
                    <a href="{% url 'biblioteca:crear_propiedad' %}" class="btn btn-success">Agregar Propiedad</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered dt-responsive nowrap table-striped align-middle" id="tabla-propiedades">                            
                            <thead>
                                <tr>
                                    <th>Rol</th>
                                    <th>Descripción</th>
                                    <th>Dirección</th>
                                    <th>Propietario</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for propiedad in propiedades %}
                                <tr>
                                    <td>{{ propiedad.rol }}</td>
                                    <td>{{ propiedad.descripcion }}</td>
                                    <td>{{ propiedad.direccion }}</td>
                                    <td>{{ propiedad.propietario.nombre }}</td>
                                    <td>
                                        <a href="{% url 'biblioteca:detalle_propiedad' propiedad.pk %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i> Ver</a>
                                        <a href="{% url 'biblioteca:eliminar_propiedad' propiedad.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Eliminar</a>
                                        <a href="{% url 'biblioteca:modificar_propiedad' propiedad.pk %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Modificar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}

<script>
    $(document).ready(function() {
        $('#tabla-propiedades').DataTable({
            responsive: true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });
    });
</script>
{% endblock extra_js %}
{% endblock content %}
