{% extends "partials/base.html" %}
{% block extra_css %}
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Toastify CSS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock extra_css %}


{% block title %}
Modificar Tipo de Documento
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Modificar Tipo de Documento" pagetitle="Tipos de Documentos" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <h1 class="mb-4 text-light">Modificar Tipo de Documento</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary me-2">Guardar cambios</button>
                    <a href="{% url 'biblioteca:listar_tipos_documentos' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
