{% extends "partials/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block extra_css %}
    <!-- jsvectormap css -->
    <link href="{% static 'libs/jsvectormap/dist/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    {% block pagetitle %}
                    {% endblock pagetitle %}
                  <!-- Contenido Ppal-->                                    
                  <h1>ROL NRO : {{ propiedad.rol }}</h1>
                  <h2>Descr. : {{ propiedad.descripcion }}</h2>
                  <p>Dirección: {{ propiedad.direccion }}</p>

                  <h2>Documentos asociados:</h2>
                  <table id="documentosTable" class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Documento</th>
                        <th>Fecha</th>
                        <th>Vencimiento</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for documento in propiedad.documento_set.all %}
                      <tr>
                        <td>{{ documento.tipo_documento }}</td>
                        <td>{{ documento.nombre_documento }}</td>
                        <td>{{ documento.fecha_documento }}</td>
                        <td>
                          {% if documento.fecha_vencimiento %}
                          {{ documento.fecha_vencimiento }}
                          {% else %}
                          Sin vencimiento
                          {% endif %}
                        </td>
                        <td>
                          <a href="{{ documento.archivo.url }}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                          <button class="btn btn-dark" onclick="copiarenlace('{{ documento.archivo.url }}')"><i class="bi bi-clipboard"></i></button>
                          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal-{{ documento.pk }}"><i class="bi bi-trash"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  <a href="{% url 'biblioteca:crear_documento' propiedad.pk %}" class="btn btn-primary">Agregar nuevo documento</a>
                   <!-- Fin COntenido Ppal-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>

<!--Swiper slider js-->
<script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-ecommerce.init.js'%}"></script>
{% endblock extra_js %}