{% extends "partials/base.html" %}


{% block pagetitle %}

{% if view.object.pk %}Editar Empresa{% else %}Crear Nueva Empresa{% endif %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% if view.object.pk %}Editar Empresa{% else %}Crear Nueva Empresa{% endif %}</h4>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Campo Código -->
                        <div class="mb-3">
                            <label for="codigo" class="form-label">Código</label>
                            <input type="text" name="codigo" id="codigo" class="form-control" maxlength="2" required value="{{ form.codigo.value }}">
                            <small class="text-muted">Debe ser un número de 2 dígitos (00-99).</small>
                        </div>

                        <!-- Campo Descripción -->
                        <div class="mb-3">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion }}
                        </div>

                        <!-- Botones de acción -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success me-2">Guardar</button>
                            <a href="{% url 'access_control:empresas_lista' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
