{% extends 'biblioteca/base.html' %}

{% block contenido %}
<h1>Crear Nuevo Usuario</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'access_control:usuarios_lista' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
