{% extends "partials/base.html" %}

{% block title %}
Lista de Usuarios
{% endblock title %}

{% block pagetitle %}
{% include "partials/page-title.html" with title="Lista de Usuarios" pagetitle="Usuarios" %}
{% endblock pagetitle %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h1 class="card-title">Lista de Usuarios</h1>
                        <a href="{% url 'access_control:usuario_crear' %}" class="btn btn-success">Crear Nuevo Usuario</a>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-bordered dt-responsive nowrap table-striped align-middle" id="usuarios-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.username }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>
                                        <a href="{% url 'access_control:usuario_editar' usuario.id %}" class="btn btn-primary btn-sm">
                                            <i class="bi bi-pencil"></i> Editar
                                        </a>
                                        <a href="{% url 'access_control:usuario_eliminar' usuario.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">
                                            <i class="bi bi-trash"></i> Eliminar
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#usuarios-table').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            responsive: true,
            autoWidth: false,
        });
    });
</script>
{% endblock content %}
